@font-face {
    font-family: 'RussoOne';
    src: url(fonts/Russo_One/RussoOne-Regular.ttf);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'RussoOne', Arial, sans-serif;
    background-color: #f2f0f7; /* Color de fondo de la página */
}

header {
    background: linear-gradient(to bottom, #441698 0%,  #7d4cdb 50%);
    color: #fff; /* Texto en color blanco */
    padding: 20px;
    text-align: center;
}

.logo {
    width: 200px; /* Ajustar el tamaño del logo según sea necesario */
}

nav {
    background-color: #a77cf2; /* Morado claro */
    /*padding:  0 10px;*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}

nav ul li {
    display: inline;
    flex: 1;
    background-color: #a77cf2; /* Morado oscuro */
    color: #fff;
    padding: 10px 20px;
    transition: transform 0.1s ease, border-bottom-left-radius 0.1s ease, border-bottom-right-radius 0.1s ease;
    position: relative;
    line-height: 1.5;
}
nav ul li:hover {
   
   border-bottom-left-radius:10px;
   border-bottom-right-radius:10px;
    transform: translateY(15px);
    cursor:pointer;
    line-height: normal;
    background: linear-gradient(to bottom, #a77cf2 0%, #936adb 50%);/*igual cambiar el color oscura a #7d4cdb*/
}
nav ul li:hover::before {
    content: ''; 
    position: absolute; 
    top: -15px; 
    left: 0;
    width: 100%;
    height: 15px;
    pointer-events: auto; 
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Enlaces en color blanco */
}
nav ul li a:hover{
    text-align: center;
}

.button-container {
    text-align: center; /* Centrar el contenido del contenedor */
    margin-top: 10px; /* Ajusta el margen superior del contenedor del botón */
}

.download-btn {
    background-color: #7d4cdb; /* Morado oscuro */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block; /* Asegurar que el botón se muestre como bloque en línea */
}

.download-btn:hover {
    background-color: #6c39b3; /* Morado más oscuro al pasar el ratón */
}

.section {
    display: none; /* Ocultar las secciones por defecto */
    padding: 20px;
}

.section h2 {
    background-color: rgba(81, 65, 65, 0.264);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.section p {
    margin-left: 20px;
    margin-top: 20px;
}

@keyframes slideDown {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.section .content {
    /* padding: 10px; */
    border: 1px solid rgba(81, 65, 65, 0.264);
    border-radius: 10px;
    margin-top: 10px;
    display:block; /* Ocultamos el contenido por defecto */
    animation: slideDown 0.5s forwards; /* Animación de deslizamiento hacia abajo */

}

.content-container {
    min-height: calc(100vh - 70px); /* Calculamos la altura como el 100% del alto de la ventana menos la altura del footer */
    padding-bottom: 70px; /* Asegura que el footer no se superponga al contenido */
    overflow-y: auto; /* Agregamos desplazamiento vertical si el contenido es más largo que la altura */
}

footer {
    background: linear-gradient(to top, #441698 0%,  #7d4cdb 50%); 
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    display: inline-block; /* Hacer que el párrafo se muestre en línea */
    vertical-align: middle; /* Alinear verticalmente la imagen con el texto */
}

footer img {
    width:40px; /* Ajustar el ancho de la imagen según sea necesario */
    height: auto; /* Mantener la relación de aspecto original */
    margin-left: 5px; /* Agregar un pequeño espacio entre el texto y la imagen */
    vertical-align: middle;
}
